@{
  Layout = "_Layout";
}

@model Library.Models.Book

<h1>Add Author to @Model.Title</h1>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.BookId)

  @Html.Label("Select Author")
  @Html.DropDownList("AuthorId")

  <input type="submit" value="Add Author" />
}
<p>@Html.ActionLink("Back to Books", "Index")</p>