@{
  Layout = "_Layout";
}

@model Library.Models.Book

<h2>Edit @Html.DisplayFor(model => model.Title)</h2>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.BookId)

  @Html.LabelFor(model => model.Title)
  @Html.EditorFor(model => model.Title)
  @Html.LabelFor(model => model.Genre)
  @Html.EditorFor(model => model.Genre)

  @Html.Label("Select Author")
  @Html.DropDownList("AuthorId")

  <input type="submit" value="Save" class="btn btn-primary">
}

<p>@Html.ActionLink("Back to All Books", "Index")</p>