@{
  Layout = "_Layout";
}

@model Library.Models.Copy

<h2>@Html.DisplayFor(model => model.Book.Title) Copy</h2>

@if (@Model.CopyPatronJoinEntities.Count == 0)
{
  <p>This copy has not been checked out.</p>
}
else
{
  <h4>Check Out History:</h4>
  @foreach (var join in Model.CopyPatronJoinEntities)
  {
    <li>@join.Patron.UserName | Checked Out On: @join.CheckoutDate.ToString("MMM dd, yyyy")</li>
  }
  @* <!-- <h4>@Model.CopyPatronJoinEntities.Patron.UserName</h4> --> *@
}

@if (@Model.IsCheckedOut)
{
  @using (Html.BeginForm())
  {
    <input type="submit" value="Return Copy" class="btn btn-primary btn-lg" />
  }
}

<p>@Html.ActionLink("Checkout Book", "AddUser", new {id = Model.CopyId})</p>
<p>@Html.ActionLink("Back to All Copies", "Index")</p>
<p>@Html.ActionLink("Edit Copy Information", "Edit", new {id = Model.CopyId})</p>
<p>@Html.ActionLink("Delete Copy", "Delete", new {id = Model.CopyId})</p>