@{
  Layout = "_Layout";
}

@model Library.Models.Copy

<h1>Edit @Model.Book.Title</h1>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.CopyId)

  @Html.Label("Select Book")
  @Html.DropDownList("BookId")

  @Html.LabelFor(model => model.Condition)
  @Html.TextBoxFor(model => model.Condition, new {required = "required"})

  @Html.Label("Currently Checked Out")
  @Html.CheckBoxFor(model => model.IsCheckedOut)

  @Html.Label("Checked Out To")
  @Html.DropDownList("UserId", "-select-")

  <input type="submit" value="Save" class="btn btn-default" />
}

<p>@Html.ActionLink("Back to All Books", "Index")</p>